.menu-btn {
  position: absolute;
  z-index: 3;
  right: 35px;
  top: 35px;
  cursor: pointer;
  transition: all 0.5s ease-out; }
.menu-btn .btn-line {
  width: 28px;
  height: 3px;
  margin: 0 0 5px 0;
  background: #F2F3F4;
  transition: all 0.5s ease-out; }
.menu-btn.close {
  transform: rotate(180deg); }
.menu-btn.close .btn-line:nth-child(1) {
  transform: rotate(45deg) translate(5px, 5px); }
.menu-btn.close .btn-line:nth-child(2) {
  opacity: 0; }
.menu-btn.close .btn-line:nth-child(3) {
  transform: rotate(-45deg) translate(7px, -6px); }

.menu {
  position: fixed;
  top: 0;
  width: 100%;
  opacity: 0.96;
  visibility: hidden; }
.menu.show {
  visibility: visible; }
.menu-branding, .menu-nav {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
  float: left;
  width: 50%;
  height: 100vh;
  overflow: hidden; }
.menu-nav {
  margin: 0;
  padding: 0;
  background: #373737;
  list-style: none;
  transform: translate3d(0, -100%, 0);
  transition: all 0.5s ease-out; }
.menu-nav.show {
  transform: translate3d(0, 0, 0); }
.menu-branding {
  background: #000;
  transform: translate3d(0, 100%, 0);
  transition: all 0.5s ease-out; }
.menu-branding.show {
  transform: translate3d(0, 0, 0); }
.menu-branding .portrait {
  width: 240px;
  height: 250px;
  background: url("../img/linkedindp.jpg");
  border-radius: 35%;
  border: solid 3px #0080FF; }
.menu .nav-item {
  transform: translate3d(600px, 0, 0);
  transition: all 0.5s ease-out; }
.menu .nav-item.show {
  transform: translate3d(0, 0, 0); }
.menu .nav-item.current > a {
  color: #0080FF; } 
.menu .nav-link {
  display: inline-block;
  position: relative;
  font-size: 30px;
  text-transform: uppercase;
  padding: 1rem 0;
  font-weight: 300;
  color: #fff;
  text-decoration: none;
  transition: all 0.5s ease-out; }
.menu .nav-link:hover {
  color: #0080FF; }

.nav-item:nth-child(1) {
  transition-delay: 0.05s; }

.nav-item:nth-child(2) {
  transition-delay: 0.1s; }

.nav-item:nth-child(3) {
  transition-delay: 0.15s; }

.nav-item:nth-child(4) {
  transition-delay: 0.2s; }

.nav-item:nth-child(5) {
  transition-delay: 0.25s; }

.nav-item:nth-child(6) {
  transition-delay: 0.3s; }

* {
  box-sizing: border-box; }

body {
  background: #F2F3F4;
  color: #000;
  height: 100%;
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.5; }
body#bg-img {
  /*background: url(../img/moon.jpg); */
  background-attachment: fixed;
  background-size: cover; }
body#bg-img:after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background: linear-gradient( rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7) ), url(../img/moon.jpg); /* HOME COLOR */
  background-attachment: fixed;
  background-size: cover; } 

h1, h2, h3 {
  margin: 0;
  align-content: center;
  text-align: center;
  font-weight: 400; }
h1.lg-heading, h2.lg-heading, h3.lg-heading {
  font-size: 6rem; }
h1.md-heading, h2.md-heading, h3.md-heading {
  font-size: 4rem; }
h1.sm-heading, h2.sm-heading, h3.sm-heading {
  margin-bottom: 2rem;
  /* padding: 0.2rem 1rem; */
  background: rgba(73, 73, 73, 0); }

a {
  color: #fff;
  text-decoration: none; }

header {
  position: fixed;
  z-index: 2;
  width: 100%; }

.gold-color {
  color: #eece1a; }

.text-blue {
  color: #0080FF;
}

.purple-color {
  color: #AE8DFF;
}

.green-color {
  color: #00A86B;
}

.white-color {
  color: #fff;
}

.red-color {
  color: rgb(255, 0, 0);
}

main {
  padding: 4rem;
  min-height: calc(100vh - 60px); }
main .icons {
  align-content: center;
  text-align: center;
  margin-top: 1rem; }
main .icons a {
  padding: 0.4rem; }
main .icons a:hover {
  color: #0080FF;
  transition: all 0.5s ease-out; }
main#home {
  overflow: hidden; }
main#home h1 {
  margin-top: 20vh; }

.education {
  display: grid;
  grid-template-areas: 'bioimage bio bio' 'job1 job2 job3';
  grid-template-columns: repeat(3, 1fr); }
.education .bio-image {
  grid-area: bioimage;
  margin: auto;
  border-radius: 20%; 
  border:#0080FF 3px solid; }
.education .bio {
  grid-area: bio;
  font-size: 1.5rem;
  /* border-bottom: #0080FF 5px solid;*/ }
.education .job-1 {
  grid-area: job1; }
.education .job-2 {
  grid-area: job2; }
.education .job-3 {
  grid-area: job3; }
.education .job {
  background: white;
  opacity: 0.9;
  position: absolute;
  width: 360px;
  padding: 0.5rem;
  border-bottom: #0080FF 5px solid;  }
      
.about-info {
  display: grid;
  grid-gap: 30px;
  grid-template-areas: 'bioimage bio bio' 'job1 job2 job3';
  grid-template-columns: repeat(3, 1fr); }
.about-info .bio-image {
  grid-area: bioimage;
  margin: auto;
  border-radius: 35%; 
  border: #0080FF 3px solid; }
.about-info .bio {
  grid-area: bio;
  font-size: 1.5rem; }
.about-info .job-1 {
  grid-area: job1; }
.about-info .job-2 {
  grid-area: job2; }
.about-info .job-3 {
  grid-area: job3; }
.about-info .job {
  padding: 0.5rem;
  border-bottom: #0080FF 5px solid; }

.experience {
  display: grid;
  grid-gap: 0.7rem;
  grid-template-columns: repeat(4, 1fr); }
.experience img {
  width: 300px;
  border: 3px #0080FF solid; }
.experience img:hover {
  opacity: 0.5;
  border-color: #0080FF;
  transition: all 0.5s ease-out; }
.experience .job-1 {
  grid-area: job1; }
.experience .job-2 {
  grid-area: job2; }
.experience .job-3 {
  grid-area: job3; }
.experience .job {
  background: white;
  opacity: 0.9;
  position: absolute;
  font-size: 20px;
  width: 300px; /* 360px; */
  padding: 0.5rem;
  border-bottom: #0080FF 5px solid;  }

 .experience .btn-dark {
    background: black;
    width: 300px;
    color: #fff; 
    font-size: 23px;
    text-align: center}
  
.experience  .btn-light {
  background: #c4c4c4;
  width: 300px;
  color: #333;
  font-size: 23px;
  text-align: center }
  
.experience  .btn-clicked {
  background: #0080FF;
  width: 300px;
  color: #fff;
  font-size: 23px;
  text-align: center; }
    
.projects {
  display: grid;
  grid-gap: 0.7rem;
  grid-template-columns: repeat(3, 1fr); }
.projects img {
  width: 100%;
  border: 3px #0080FF solid; }
.projects img:hover {
  opacity: 0.5;
  border-color: #0080FF;
  transition: all 0.5s ease-out; }
.projects .job-1 {
  grid-area: job1; }
.projects .job-2 {
  grid-area: job2; }
.projects .job-3 {
  grid-area: job3; }
.projects .job {
  background: white;
  opacity: 0.9;
  font-size: 20px;
  position: absolute;
  width: 340px; /* 375px; */
  padding: 0.5rem;
  border-bottom: #0080FF 5px solid;  }

.boxes {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;  
  margin-top: 1rem; }
.boxes div {
  font-size: 2rem;
  border: 3px #0080FF solid;
  padding: 1.5rem 2.5rem;
  margin-bottom: 3rem;
  background: white;
  transition: all 0.5s ease-out; }
.boxes div:hover {
  padding: 0.5rem 1.5rem;
  background: #0080FF;
  color: white; }
.boxes div:hover span {
  color: white; }

.btn, .btn-dark, .btn-light, .btn-clicked {
  display: block;
  padding: 0.5rem 1rem;
  border: 0;
  margin-bottom: 0.3rem; }
.btn:hover, .btn-dark:hover, .btn-light:hover {
  background: #0080FF;
  color: white; }

.btn-dark {
  background: black;
  color: #fff; 
  text-align: center}

.btn-light {
  background: #c4c4c4;
  color: #333;
  text-align: center }

.btn-clicked {
  background: #0080FF;
  color: #fff;
  text-align: center;
}

.footer {
  text-align: center;
  padding: 1rem;
  background: #2b2b2b;
  color: #fff;
}

.footer .icons a {
  padding: 0.2rem; }
.footer .icons a:hover {
  color: #0080FF;
  transition: all 0.5s ease-out; }

  html {
    scroll-behavior: smooth;
  }
  
  .container {
    position: relative;
    width: 250px;
    /* grid-template-columns: repeat(4, 1fr);  */
  }
  
  .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 250px;
    width: 300px;
    opacity: 0;
    transition: .5s ease;
    background-color: #008CBA;
  }
  
  .container:hover .overlay {
    opacity: 0.8;
  }
  
  .text {
    color: white;
    font-size: 25px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
  }
  
      body {
        margin: 0;
        font-size: 28px;
      }
      
      .header {
        background-color: #f1f1f1;
        padding: 30px;
        text-align: center;
      }
      
      #navbar {
        overflow: hidden;
        background-color: #333;
      }
      
      #navbar a {
        float: left;
        display: block;
        color: #f2f2f2;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
      }
      
      #navbar a:hover {
        background-color: #0080FF;
        color: white;
      }
      
      #navbar a.active {
        background-color: #0080FF;
        color: white;
      }
      
      .content {
        padding: 16px;
      }
      
      .sticky {
        position: fixed;
        top: 0;
        width: 100%;
      }
      
      .sticky + .content {
        padding-top: 60px;
      }

      
@media screen and (min-width: 1171px) {
  .projects {
    grid-template-columns: repeat(4, 1fr); }
    .container {
      grid-template-columns: repeat(4, 1fr); }
    .experience {
      grid-template-columns: repeat(4, 1fr); } }

@media screen and (min-width: 769px) and (max-width: 1170px) {
  .projects {
    grid-template-columns: repeat(3, 1fr); }
    .container {
      grid-template-columns: repeat(3, 1fr); }
    .experience {
      grid-template-columns: repeat(3, 1fr); }
}

.form-style-1 {
	margin:10px auto;
	max-width: 400px;
	padding: 20px 12px 10px 20px;
  	font: 13px 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.form-style-1 li {
	padding: 0;
	display: block;
	list-style: none;
	margin: 10px 0 0 0;
}
.form-style-1 label{
	margin:0 0 3px 0;
	padding:0px;
	display:block;
	font-weight: bold;
}
.form-style-1 input[type=text], 
.form-style-1 input[type=date],
.form-style-1 input[type=datetime],
.form-style-1 input[type=number],
.form-style-1 input[type=search],
.form-style-1 input[type=time],
.form-style-1 input[type=url],
.form-style-1 input[type=email],
textarea, 
select{
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	border:1px solid #BEBEBE;
	padding: 7px;
	margin:0px;
	-webkit-transition: all 0.30s ease-in-out;
	-moz-transition: all 0.30s ease-in-out;
	-ms-transition: all 0.30s ease-in-out;
	-o-transition: all 0.30s ease-in-out;
	outline: none;	
}
.form-style-1 input[type=text]:focus, 
.form-style-1 input[type=date]:focus,
.form-style-1 input[type=datetime]:focus,
.form-style-1 input[type=number]:focus,
.form-style-1 input[type=search]:focus,
.form-style-1 input[type=time]:focus,
.form-style-1 input[type=url]:focus,
.form-style-1 input[type=email]:focus,
.form-style-1 textarea:focus, 
.form-style-1 select:focus{
	-moz-box-shadow: 0 0 8px #0080FF;
	-webkit-box-shadow: 0 0 8px #0080FF;
	box-shadow: 0 0 8px #0080FF;
	border: 1px solid #0080FF;
}
.form-style-1 .field-divided{
	width: 49%;
}

.form-style-1 .field-long{
	width: 100%;
}
.form-style-1 .field-select{
	width: 100%;
}
.form-style-1 .field-textarea{
	height: 100px;
}
.form-style-1 input[type=submit], .form-style-1 input[type=button]{
	background: #0080FF;
	padding: 8px 15px 8px 15px;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        cursor: pointer; 
	border: none;
	color: #fff;
}
.form-style-1 input[type=submit]:hover, .form-style-1 input[type=button]:hover{
  background: #0080FF;
  text-align: center;
  align-content: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  cursor: pointer; 
  box-shadow:none;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
}
.form-style-1 .required{
	color:red;
}

@media screen and (max-width: 768px) {
  main {
    align-items: center;
    text-align: center; }
    main .lg-heading {
      line-height: 1;
      margin-bottom: 1rem; }
  ul.menu-nav,
  div.menu-branding {
    float: none;
    width: 100%;
    min-height: 0; }
    ul.menu-nav.show,
    div.menu-branding.show {
      transform: translate3d(0, 0, 0); }
  .menu-nav {
    height: 75vh;
    transform: translate3d(-100%, 0, 0);
    font-size: 24px; }
  .menu-branding {
    height: 25vh;
    transform: translate3d(100%, 0, 0); }
  .menu-branding .portrait {
    background: url("../img/linkedindpSmall.jpg");
    width: 150px;
    height: 150px; }
  .about-info {
    grid-template-areas: 'bioimage' 'bio' 'job1' 'job2' 'job3';
    grid-template-columns: 1fr; }
  .education {
    grid-template-areas: 'bioimage' 'bio' 'job1' 'job2' 'job3';
    grid-template-columns: 1fr; }
  .projects {
    grid-template-columns: repeat(2, 1fr); }
    .container {
      grid-template-columns: repeat(2, 1fr); }
    .experience {
      grid-template-columns: repeat(2, 1fr); }
  /*.experience {
      grid-template-columns: repeat(1, 1fr); }  */
}

@media screen and (max-width: 500px) {
  main {
    padding: 2rem; }
  main #home h1 {
    margin-top: 10vh; }
  main .lg-heading {
    margin-top: 1rem;
    font-size: 5rem; }
  main .sm-heading {
    font-size: 1rem;
  }
  .projects {
    grid-template-columns: 1fr; }
  .container {
    grid-template-columns: 1fr; }
  .experience {
    grid-template-columns: 1fr; } 
  #navbar a {
    padding: 9px;
    font-size: 10px;
  }
}
